:root {
  /* Background */
  --color-primary: #151515;
  --color-secondary: #202023;
  --color-ternary: #0f151b;
  --color-success: #baf247;
  --color-background: #151515;

  /* Text */
  --color-text-primary: #dddde1;
  --color-text-error: #f52424;
  --color-text-secondary: #81809e;
  --color-text-primary-dark: #191919;
  --color-text-secondary-dark: #3a3945;

  /* Padding */
  --global-padding: 0 20px;

  /* input fields */
  --app-input-bg: #ffffff;
}
