@import '/css/_variable.css';
@import '/css/_scrollbar.css';
@import '/css/_loader.css';
@import '/css/_fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow {
    @apply transition-shadow duration-300;
    box-shadow: 0 0 10px #baf247;
  }

  .hover\:glow:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: auto;
  grid-template:
    [header] 'head head' max-content [header-right]
    [main-left] 'nav main' 1fr [main-right]
    [footer-left] 'nav  foot' max-content [footer-right]
    / max-content 1fr;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--color-secondary) inset !important;
  -webkit-text-fill-color: #f9f9f9 !important;
  caret-color: inherit !important;
}

* {
  font-family: 'Inter Regular';
}

.app-header {
  grid-area: head;
}

.app-sidebar {
  grid-area: nav;
}

.app-main {
  grid-area: main;
  overflow: auto;
  margin-top: 15px;

  font-size: 16px;
}

.app-footer {
  grid-area: foot;
  margin-bottom: 20px;
}

/* .glow {
  box-shadow: 0 0 50px 15px var(--color-success);
} */
