@import '/css/_variable.css';
@import '/css/_scrollbar.css';
@import '/css/_fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #151515;
  --color-secondary: #202023;
  --color-ternary: #0f151b;

  --color-success: #baf247;

  --color-background: #151515;

  --color-text-primary: #dddde1;
  --color-text-error: #f52424;
  --color-text-secondary: #81809e;

  --color-text-primary-dark: #191919;
  --color-text-secondary-dark: #3a3945;

  --global-padding: 0 20px;
}

@layer utilities {
  .glow {
    @apply transition-shadow duration-300;
    box-shadow: 0 0 10px #baf247;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  .hover\:glow:hover {
    /* box-shadow: 0 0 10px #baf247; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: auto;
  grid-template:
    [header] 'head head' max-content [header-right]
    [main-left] 'nav main' 1fr [main-right]
    [footer-left] 'nav  foot' max-content [footer-right]
    / max-content 1fr;
}

* {
  font-family: 'Inter Regular';
}

.app-header {
  grid-area: head;
}

.app-sidebar {
  grid-area: nav;
}

.app-main {
  grid-area: main;
  overflow: auto;
  margin-top: 15px;

  font-size: 16px;
}

.app-footer {
  grid-area: foot;
  margin-bottom: 20px;
}

/* .glow {
  box-shadow: 0 0 50px 15px var(--color-success);
} */
